{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"api.powercrm.com.br","basePath":"/","tags":[{"name":"Activity","description":"Activity Resource"},{"name":"Negotiation","description":"Negotiation Resource"},{"name":"Plan","description":"Plans Resource"},{"name":"PowerBi","description":"Power BI Resource"},{"name":"Quotation","description":"Quotation Resource"},{"name":"Report","description":"Report Resource"},{"name":"live-probe-resource","description":"Live Probe Resource"},{"name":"rd-station-resource","description":"Rd Station Resource"}],"paths":{"/api/activity":{"get":{"tags":["Activity"],"summary":"listActivities","operationId":"listActivitiesUsingGET","produces":["*/*"],"parameters":[{"name":"dir","in":"query","description":"dir","required":false,"type":"string","default":"asc"},{"name":"due","in":"query","description":"due","required":false,"type":"string"},{"name":"from","in":"query","description":"from","required":false,"type":"string"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":0,"format":"int32"},{"name":"perPage","in":"query","description":"perPage","required":false,"type":"integer","default":10,"format":"int32"},{"name":"responsibles","in":"query","description":"responsibles","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"search","in":"query","description":"search","required":false,"type":"string"},{"name":"sort","in":"query","description":"sort","required":false,"type":"string","default":"description"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"to","in":"query","description":"to","required":false,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityListPageResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/negotiation/{negotiationCode}":{"get":{"tags":["Negotiation"],"summary":"Informação da negociação","operationId":"negotiationGetUsingGET","produces":["application/json"],"parameters":[{"name":"negotiationCode","in":"path","description":"negotiationCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/plans/":{"post":{"tags":["Plan"],"summary":"Buscar as informações dos planos","operationId":"getPlansUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"plansRequest","description":"plansRequest","required":true,"schema":{"$ref":"#/definitions/PlansRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/activities":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi atividades","operationId":"activitiesUsingGET","produces":["application/json"],"parameters":[{"name":"from","in":"query","description":"from","required":true,"type":"string"},{"name":"to","in":"query","description":"to","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/activities-time":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi tempo médio das atividades","operationId":"activityTimeUsingGET","produces":["application/json"],"parameters":[{"name":"activities","in":"query","description":"activities","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/affiliates":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi afiliados","operationId":"affiliatesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/billing-history":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi histórico de cobrança","operationId":"billingHistoryUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/companies":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi empresas","operationId":"companiesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/companyStatusReason":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi pagamentos","operationId":"getCompanyStatusReasonUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/contracts":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi contratos financeiros","operationId":"contractsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/goals":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi metas","operationId":"goalsUsingGET","produces":["application/json"],"parameters":[{"name":"from","in":"query","description":"from","required":true,"type":"string"},{"name":"to","in":"query","description":"to","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/inspections":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi vistoria","operationId":"surveyUsingGET","produces":["application/json"],"parameters":[{"name":"from","in":"query","description":"from","required":true,"type":"string"},{"name":"to","in":"query","description":"to","required":true,"type":"string"},{"name":"type","in":"query","description":"type","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/inspections-time":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi tempo médio das vistorias","operationId":"inspectionTimeUsingGET","produces":["application/json"],"parameters":[{"name":"inspections","in":"query","description":"inspections","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/payments":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi pagamentos","operationId":"getPaymentsUsingGET","produces":["application/json"],"parameters":[{"name":"from","in":"query","description":"from","required":true,"type":"string"},{"name":"to","in":"query","description":"to","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/powersign":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi powerSign","operationId":"powerSignUsingGET_1","produces":["application/json"],"parameters":[{"name":"from","in":"query","description":"from","required":true,"type":"string"},{"name":"to","in":"query","description":"to","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/powersign/preferences":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi powerSign para preferências","operationId":"powerSignUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/quotations":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi cotação","operationId":"getQuotationUsingGET","produces":["application/json"],"parameters":[{"name":"from","in":"query","description":"from","required":true,"type":"string"},{"name":"to","in":"query","description":"to","required":true,"type":"string"},{"name":"type","in":"query","description":"type","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/quotations-time":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi tempo médio das cotações","operationId":"getQuotationTimeUsingGET","produces":["application/json"],"parameters":[{"name":"quotations","in":"query","description":"quotations","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/sga":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi SGA","operationId":"sgaUsingGET","produces":["application/json"],"parameters":[{"name":"from","in":"query","description":"from","required":true,"type":"string"},{"name":"to","in":"query","description":"to","required":true,"type":"string"},{"name":"type","in":"query","description":"type","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/status":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi status empresas","operationId":"canceledUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/powerbi/users":{"get":{"tags":["PowerBi"],"summary":"Relatório Power Bi usuários","operationId":"usersUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/accept/{code}":{"post":{"tags":["Quotation"],"summary":"Aceitar uma cotação","operationId":"quotationAcceptUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/add":{"post":{"tags":["Quotation"],"summary":"Cadastro de uma cotação","operationId":"quotationAddUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"quotationAddRequest","description":"quotationAddRequest","required":true,"schema":{"$ref":"#/definitions/QuotationAddRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/add-activity":{"post":{"tags":["Quotation"],"summary":"addActivity","operationId":"addActivityUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"addActivityRequest","description":"addActivityRequest","required":true,"schema":{"$ref":"#/definitions/AddActivityRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/add-tag":{"post":{"tags":["Quotation"],"summary":"addTag","operationId":"addTagUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"addTagApiRequest","description":"addTagApiRequest","required":true,"schema":{"$ref":"#/definitions/AddTagApiRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/addAffiliate":{"post":{"tags":["Quotation"],"summary":"Cadastrar um afiliado","operationId":"addAffiliateUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"affiliateAddRequest","description":"affiliateAddRequest","required":true,"schema":{"$ref":"#/definitions/AffiliateAddRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/addAffiliateSGA":{"post":{"tags":["Quotation"],"summary":"Cadastrar um afiliado sga","operationId":"addAffiliateSGAUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"affiliateAddRequest","description":"affiliateAddRequest","required":true,"schema":{"$ref":"#/definitions/AffiliateAddRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/associate/send-photo":{"post":{"tags":["Quotation"],"summary":"addPhotoAssociate","operationId":"addPhotoAssociateUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"photo","in":"formData","description":"photo","required":false,"type":"file"},{"name":"quotationCode","in":"query","description":"quotationCode","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/bmy":{"get":{"tags":["Quotation"],"summary":"Buscar os anos do modelo da marca","operationId":"bmyUsingGET","produces":["application/json"],"parameters":[{"name":"cb","in":"query","description":"cb","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ItemIdString"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/card/move":{"post":{"tags":["Quotation"],"summary":"Move o card da cotação para uma coluna específica do pipeline","operationId":"moveCardQuotationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"cardColumn","in":"query","description":"cardColumn","required":true,"type":"string"},{"name":"quotationCode","in":"query","description":"quotationCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/cb":{"get":{"tags":["Quotation"],"summary":"Buscar Marcas dos Carros","operationId":"cbUsingGET","produces":["application/json"],"parameters":[{"name":"type","in":"query","description":"type","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ItemIdString"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/chosenReward":{"post":{"tags":["Quotation"],"summary":"Escolher recompensa","operationId":"chosenRewardUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"chosenRewardRequest","description":"chosenRewardRequest","required":true,"schema":{"$ref":"#/definitions/ChosenRewardRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/cm":{"get":{"tags":["Quotation"],"summary":"Buscar modelos dos carros pela marca","operationId":"cmUsingGET","produces":["application/json"],"parameters":[{"name":"cb","in":"query","description":"cb","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ItemIdString"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/cmby":{"get":{"tags":["Quotation"],"summary":"Buscar modelos dos carros","operationId":"cmbyUsingGET","produces":["application/json"],"parameters":[{"name":"cb","in":"query","description":"cb","required":true,"type":"integer","format":"int64"},{"name":"cy","in":"query","description":"cy","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ItemIdString"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/cmy":{"get":{"tags":["Quotation"],"summary":"Buscar os anos da marca","operationId":"cmyUsingGET","produces":["application/json"],"parameters":[{"name":"cm","in":"query","description":"cm","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ItemIdString"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/ct":{"get":{"tags":["Quotation"],"summary":"Buscar as cidades","operationId":"ctUsingGET","produces":["application/json"],"parameters":[{"name":"st","in":"query","description":"st","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ItemIdString"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/editPlansQuotationApi":{"post":{"tags":["Quotation"],"summary":"Update do plano de uma cotação","operationId":"editPlansQuotationApiUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"quotationCode","in":"query","description":"quotationCode","required":false,"type":"string"},{"name":"tpp","in":"query","description":"tpp","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/fetchAffiliate":{"post":{"tags":["Quotation"],"summary":"Procurar um afiliado","operationId":"fetchAffiliateUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"fetchAffiliateStatementDetailRequest","description":"fetchAffiliateStatementDetailRequest","required":true,"schema":{"$ref":"#/definitions/FetchAffiliateStatementDetailRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/fetchCompanyAffiliates":{"get":{"tags":["Quotation"],"summary":"Listar afiliados","operationId":"fetchCompanyAffiliatesUsingGET","produces":["application/json"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"$ref":"#/definitions/FetchCompanyAffiliatesRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/findDocument":{"get":{"tags":["Quotation"],"summary":"Informação da cotação pelo cpf e placa","operationId":"quotationGetFindDocumentUsingGET","produces":["application/json"],"parameters":[{"name":"document","in":"query","description":"document","required":true,"type":"string"},{"name":"plate","in":"query","description":"plate","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/findSeller":{"get":{"tags":["Quotation"],"summary":"Informação da cotação pelo codigo do vendedor e placa","operationId":"quotationGetFindSellerUsingGET","produces":["application/json"],"parameters":[{"name":"plate","in":"query","description":"plate","required":true,"type":"string"},{"name":"seller","in":"query","description":"seller","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/getCompanyGlobalData":{"post":{"tags":["Quotation"],"summary":"variaveis da empresa","operationId":"getCompanyGlobalDataUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"companyGlobalDataRequest","description":"companyGlobalDataRequest","required":true,"schema":{"$ref":"#/definitions/CompanyGlobalDataRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyGlobalDataResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/open-inspection":{"post":{"tags":["Quotation"],"summary":"openInspection","operationId":"openInspectionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"inspectionOpenApiRequest","description":"inspectionOpenApiRequest","required":true,"schema":{"$ref":"#/definitions/InspectionOpenApiRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/origins":{"get":{"tags":["Quotation"],"summary":"Buscar todas as origens da empresa","operationId":"originsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/plansQuotation":{"get":{"tags":["Quotation"],"summary":"Busca todas as informações dos planos de uma cotação","operationId":"searchQuotationPlansUsingGET","produces":["application/json"],"parameters":[{"name":"quotationCode","in":"query","description":"quotationCode","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/plansQuotationApi":{"get":{"tags":["Quotation"],"summary":"Buscar as informações dos planos de uma cotação","operationId":"plansQuotationApiUsingGET","produces":["application/json"],"parameters":[{"name":"h","in":"query","description":"h","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/plates/{plate}":{"get":{"tags":["Quotation"],"summary":"Informação da placa do carro","operationId":"plateGetUsingGET","produces":["application/json"],"parameters":[{"name":"plate","in":"path","description":"plate","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/quotationConfirmCashReceivedApi":{"post":{"tags":["Quotation"],"summary":"Atualizar o pagamento da taxa de confirmação","operationId":"quotationConfirmCashReceivedApiUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"cardId","in":"query","description":"cardId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/quotationFipeApi":{"get":{"tags":["Quotation"],"summary":"Buscar as informações da FIPE de uma cotação","operationId":"quotationFipeApiUsingGET","produces":["application/json"],"parameters":[{"name":"quotationCode","in":"query","description":"quotationCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/quotationTrackerConfirmCashReceivedApi":{"post":{"tags":["Quotation"],"summary":"Atualizar o pagamento do rastreador","operationId":"quotationTrackerConfirmCashReceivedApiUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"cardId","in":"query","description":"cardId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/searchDocuments":{"get":{"tags":["Quotation"],"summary":"searchDocuments","operationId":"searchDocumentsUsingGET","produces":["*/*"],"parameters":[{"name":"quotationCode","in":"query","description":"quotationCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/send-attachment":{"post":{"tags":["Quotation"],"summary":"addAttachmentInspection","operationId":"addAttachmentInspectionUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"attachment","in":"formData","description":"attachment","required":false,"type":"file"},{"name":"quotationCode","in":"query","description":"quotationCode","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/send-observation":{"post":{"tags":["Quotation"],"summary":"addObservationInspection","operationId":"addObservationInspectionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"observation","in":"query","description":"observation","required":false,"type":"string"},{"name":"quotationCode","in":"query","description":"quotationCode","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/send-photo":{"post":{"tags":["Quotation"],"summary":"addPhotoInspection","operationId":"addPhotoInspectionUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"inspectionId","in":"query","description":"inspectionId","required":false,"type":"integer","format":"int64"},{"name":"photo","in":"formData","description":"photo","required":false,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/shelve":{"post":{"tags":["Quotation"],"summary":"Arquivar uma cotação","operationId":"quotationShelveChangeUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"quotationShelved","description":"quotationShelved","required":true,"schema":{"$ref":"#/definitions/QuotationShelved"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/stt":{"get":{"tags":["Quotation"],"summary":"Listar todos os estados","operationId":"sttUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ItemIdString"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/suggestQuotationOptionals":{"get":{"tags":["Quotation"],"summary":"Buscar os opcionais do plano de uma cotação","operationId":"plansQuotationApiUsingGET_1","produces":["application/json"],"parameters":[{"name":"quotationCode","in":"query","description":"quotationCode","required":false,"type":"string"},{"name":"tppid","in":"query","description":"tppid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/update":{"post":{"tags":["Quotation"],"summary":"Alterar uma cotação","operationId":"quotationUpdateUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"quotationUpdateRequest","description":"quotationUpdateRequest","required":true,"schema":{"$ref":"#/definitions/QuotationUpdateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/vehicleTypes":{"get":{"tags":["Quotation"],"summary":"Tipos do veículo","operationId":"vehicleTypesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Zapier"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/quotation/{quotationCode}":{"get":{"tags":["Quotation"],"summary":"Informação da cotação","operationId":"quotationGetUsingGET","produces":["application/json"],"parameters":[{"name":"quotationCode","in":"path","description":"quotationCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/report/db":{"post":{"tags":["Report"],"summary":"Relatório do banco de dados","operationId":"reportDbUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"reportDbRequest","description":"reportDbRequest","required":true,"schema":{"$ref":"#/definitions/ReportDbRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/liveProbe":{"get":{"tags":["live-probe-resource"],"summary":"liveProbe","operationId":"liveProbeUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rdstation/add/{codeCompany}":{"post":{"tags":["rd-station-resource"],"summary":"quotationAdd","operationId":"quotationAddUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"codeCompany","in":"path","description":"codeCompany","required":true,"type":"string"},{"in":"body","name":"rdStationAddRequest","description":"rdStationAddRequest","required":true,"schema":{"$ref":"#/definitions/RdStationAddRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"ActivityListPageResponse":{"type":"object","properties":{"activities":{"type":"array","items":{"$ref":"#/definitions/ActivityListResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"}},"title":"ActivityListPageResponse"},"ActivityListResponse":{"type":"object","properties":{"company":{"type":"integer","format":"int64"},"createdAt":{"type":"string"},"creative":{"type":"integer","format":"int64"},"description":{"type":"string"},"finishAt":{"type":"string"},"id":{"type":"integer","format":"int64"},"negotiation":{"type":"integer","format":"int64"},"negotiationCode":{"type":"string"},"response":{"type":"string"},"responsible":{"type":"integer","format":"int64"},"scheduleDate":{"type":"string"},"status":{"type":"string"},"type":{"type":"string"},"updatedAt":{"type":"string"}},"title":"ActivityListResponse"},"AddActivityRequest":{"type":"object","properties":{"description":{"type":"string"},"quotationCode":{"type":"string"},"scheduled":{"type":"string"},"type":{"type":"integer","format":"int64"}},"title":"AddActivityRequest"},"AddTagApiRequest":{"type":"object","properties":{"quotationCode":{"type":"string"},"tagId":{"type":"integer","format":"int64"}},"title":"AddTagApiRequest"},"AffiliateAddRequest":{"type":"object","properties":{"cpf":{"type":"string"},"email":{"type":"string"},"mobileCode":{"type":"integer","format":"int64"},"name":{"type":"string"},"phone":{"type":"string"},"status":{"type":"string"},"voluntaryId":{"type":"integer","format":"int64"}},"title":"AffiliateAddRequest"},"CdpOriginalEvent":{"type":"object","properties":{"event_batch_index":{"type":"integer","format":"int32"},"event_batch_uuid":{"type":"string"},"event_family":{"type":"string"},"event_identifier":{"type":"string"},"event_timestamp":{"type":"string","format":"date-time"},"event_type":{"type":"string"},"event_uuid":{"type":"string"},"payload":{"$ref":"#/definitions/Payload"}},"title":"CdpOriginalEvent"},"ChosenRewardRequest":{"type":"object","properties":{"email":{"type":"string"},"rewardId":{"type":"integer","format":"int64"}},"title":"ChosenRewardRequest"},"CompanyGlobalDataRequest":{"type":"object","properties":{"slsmnId":{"type":"string"},"slsmnNwId":{"type":"string"}},"title":"CompanyGlobalDataRequest"},"CompanyGlobalDataResponse":{"type":"object","properties":{"color":{"type":"string"},"consultantEmail":{"type":"string"},"consultantId":{"type":"integer","format":"int64"},"consultantName":{"type":"string"},"consultantPhone":{"type":"string"},"h":{"type":"string"},"name":{"type":"string"}},"title":"CompanyGlobalDataResponse"},"Content":{"type":"object","properties":{"Cargo":{"type":"string"},"Celular":{"type":"string"},"Cidade Aberto":{"type":"string"},"Empresa":{"type":"string"},"Estado Aberto":{"type":"string"},"Facebook":{"type":"string"},"Linkedin":{"type":"string"},"Nome":{"type":"string"},"Telefone":{"type":"string"},"Twitter":{"type":"string"},"UF":{"type":"object"},"Website":{"type":"string"},"__cdp__original_event":{"$ref":"#/definitions/CdpOriginalEvent"},"_rd_experiment_content_id":{"type":"string"},"conversion_identifier":{"type":"string"},"conversion_payload":{"type":"string"},"device":{"type":"string"},"email_lead":{"type":"string"},"event_identifier":{"type":"string"},"event_timestamp":{"type":"string","format":"date-time"},"event_type":{"type":"string"},"identificador":{"type":"string"},"traffic_source":{"type":"string"},"user_agent":{"type":"string"}},"title":"Content"},"ConversionOrigin":{"type":"object","properties":{"campaign":{"type":"string"},"channel":{"type":"string"},"medium":{"type":"string"},"source":{"type":"string"},"value":{"type":"object"}},"title":"ConversionOrigin"},"CustomFields":{"type":"object","properties":{"Ano Fabricação":{"type":"string"},"Ano Modelo":{"type":"string"},"Modelo":{"type":"string"},"Observações":{"type":"string"},"Origem":{"type":"string"},"Placa":{"type":"string"},"Tag":{"type":"string"}},"title":"CustomFields"},"FetchAffiliateStatementDetailRequest":{"type":"object","properties":{"begin":{"type":"string"},"email":{"type":"string"},"end":{"type":"string"},"filterStatus":{"type":"integer","format":"int64"}},"title":"FetchAffiliateStatementDetailRequest"},"FetchCompanyAffiliatesRequest":{"type":"object","properties":{"limit":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"token":{"type":"string"}},"title":"FetchCompanyAffiliatesRequest"},"FirstConversion":{"type":"object","properties":{"content":{"$ref":"#/definitions/Content"},"conversion_origin":{"$ref":"#/definitions/ConversionOrigin"},"created_at":{"type":"string","format":"date-time"},"cumulative_sum":{"type":"string"},"source":{"type":"string"}},"title":"FirstConversion"},"InspectionOpenApiRequest":{"type":"object","properties":{"observation":{"type":"string"},"quotationCode":{"type":"string"}},"title":"InspectionOpenApiRequest"},"ItemIdString":{"type":"object","properties":{"back":{"type":"string"},"id":{"type":"integer","format":"int64"},"text":{"type":"string"}},"title":"ItemIdString"},"LastConversion":{"type":"object","properties":{"content":{"$ref":"#/definitions/Content"},"conversion_origin":{"$ref":"#/definitions/ConversionOrigin"},"created_at":{"type":"string","format":"date-time"},"cumulative_sum":{"type":"string"},"source":{"type":"string"}},"title":"LastConversion"},"Lead":{"type":"object","properties":{"bio":{"type":"object"},"city":{"type":"object"},"company":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"custom_fields":{"$ref":"#/definitions/CustomFields"},"email":{"type":"string"},"first_conversion":{"$ref":"#/definitions/FirstConversion"},"id":{"type":"string"},"job_title":{"type":"object"},"last_conversion":{"$ref":"#/definitions/LastConversion"},"last_marked_opportunity_date":{"type":"object"},"lead_stage":{"type":"string"},"mobile_phone":{"type":"object"},"name":{"type":"string"},"number_conversions":{"type":"string"},"opportunity":{"type":"string"},"personal_phone":{"type":"object"},"public_url":{"type":"string"},"state":{"type":"object"},"tags":{"type":"object"},"user":{"type":"object"},"uuid":{"type":"string"},"website":{"type":"object"}},"title":"Lead"},"Payload":{"type":"object","properties":{"_rd_experiment_content_id":{"type":"string"},"c_utmz":{"type":"string"},"city":{"type":"string"},"client_tracking_id":{"type":"string"},"company_name":{"type":"string"},"conversion_identifier":{"type":"string"},"conversion_payload":{"type":"string"},"device":{"type":"string"},"email":{"type":"string"},"facebook":{"type":"string"},"internal_source":{"type":"string"},"job_title":{"type":"string"},"linkedin":{"type":"string"},"mobile_phone":{"type":"string"},"name":{"type":"string"},"personal_phone":{"type":"string"},"privacy_data":{"$ref":"#/definitions/PrivacyData"},"state":{"type":"string"},"traffic_source":{"type":"string"},"twitter":{"type":"string"},"user_agent":{"type":"string"},"website":{"type":"string"}},"title":"Payload"},"PlansRequest":{"type":"object","properties":{"carModelId":{"type":"integer","format":"int64"},"carModelYearId":{"type":"integer","format":"int64"},"cityId":{"type":"integer","format":"int64"},"quotationWorkVehicle":{"type":"boolean"},"token":{"type":"string"}},"title":"PlansRequest"},"PrivacyData":{"type":"object","properties":{"browser":{"type":"string"}},"title":"PrivacyData"},"QuotationAddRequest":{"type":"object","properties":{"affiliateId":{"type":"string"},"carModel":{"type":"integer","format":"int64"},"carModelYear":{"type":"integer","format":"int64"},"chassi":{"type":"string"},"city":{"type":"integer","format":"int64"},"coop":{"type":"integer","format":"int64"},"discount":{"type":"string"},"email":{"type":"string"},"leadSource":{"type":"integer","format":"int64"},"mdl":{"type":"integer","format":"int64"},"mdlYr":{"type":"integer","format":"int64"},"name":{"type":"string"},"noteContractInternal":{"type":"string"},"origemId":{"type":"integer","format":"int64"},"phone":{"type":"string"},"plts":{"type":"string"},"pwrlnk":{"type":"string"},"registration":{"type":"string"},"replaceAdesao":{"type":"number"},"replaceCoop":{"type":"string"},"replaceEmail":{"type":"string"},"replaceName":{"type":"string"},"replacePhone":{"type":"string"},"slsmnId":{"type":"string"},"slsmnNwId":{"type":"string"},"workVehicle":{"type":"boolean"}},"title":"QuotationAddRequest"},"QuotationShelved":{"type":"object","properties":{"code":{"type":"string"},"description":{"type":"string"},"motiveId":{"type":"integer","format":"int64"}},"title":"QuotationShelved"},"QuotationUpdateRequest":{"type":"object","properties":{"addressAddress":{"type":"string"},"addressComplement":{"type":"string"},"addressNeighborhood":{"type":"string"},"addressNumber":{"type":"string"},"addressZipcode":{"type":"string"},"affiliateId":{"type":"string"},"birthdate":{"type":"string"},"carModel":{"type":"integer","format":"int64"},"carModelYear":{"type":"integer","format":"int64"},"category":{"type":"array","items":{"type":"integer","format":"int64"}},"chassi":{"type":"string"},"city":{"type":"integer","format":"int64"},"cnh":{"type":"string"},"cnhExpiration":{"type":"string"},"code":{"type":"string"},"color":{"type":"string"},"coop":{"type":"integer","format":"int64"},"discount":{"type":"string"},"email":{"type":"string"},"engineNumber":{"type":"string"},"expeditionDate":{"type":"string"},"expirationDay":{"type":"integer","format":"int32"},"fabricationYear":{"type":"integer","format":"int32"},"firstQualification":{"type":"string"},"forceVehicleCityChange":{"type":"boolean"},"fuel":{"type":"integer","format":"int32"},"fullName":{"type":"string"},"gender":{"type":"integer","format":"int32"},"kmtr":{"type":"string"},"leadSource":{"type":"integer","format":"int64"},"mdl":{"type":"integer","format":"int64"},"mdlYr":{"type":"integer","format":"int64"},"name":{"type":"string"},"noteContract":{"type":"string"},"optionals":{"type":"array","items":{"type":"integer","format":"int64"}},"origemId":{"type":"integer","format":"int64"},"phone":{"type":"string"},"phoneHome":{"type":"string"},"phoneMobile1":{"type":"string"},"phoneMobile2":{"type":"string"},"phoneWork":{"type":"string"},"plates":{"type":"string"},"plts":{"type":"string"},"protectedValue":{"type":"number"},"pwrlnk":{"type":"string"},"registration":{"type":"string"},"renavam":{"type":"string"},"replaceAdesao":{"type":"number"},"replaceCoop":{"type":"string"},"replaceEmail":{"type":"string"},"replaceName":{"type":"string"},"replacePhone":{"type":"string"},"rg":{"type":"string"},"rgExpeditor":{"type":"string"},"shift":{"type":"integer","format":"int32"},"slsmnId":{"type":"string"},"slsmnNwId":{"type":"string"},"tppId":{"type":"integer","format":"int64"},"workVehicle":{"type":"boolean"}},"title":"QuotationUpdateRequest"},"RdStationAddRequest":{"type":"object","properties":{"leads":{"type":"array","items":{"$ref":"#/definitions/Lead"}}},"title":"RdStationAddRequest"},"ReportDbRequest":{"type":"object","properties":{"from":{"type":"string"},"stringFilterTypeDate":{"type":"integer","format":"int32"},"to":{"type":"string"}},"title":"ReportDbRequest"},"ResponseEntity":{"type":"object","properties":{"body":{"type":"object"},"statusCode":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]},"statusCodeValue":{"type":"integer","format":"int32"}},"title":"ResponseEntity"},"Zapier":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"label":{"type":"string"}},"title":"Zapier"}}}